n8n-workflows/cleanup-hourly.json
{
  "name": "LeadFlow — Cleanup Automático (cada hora)",
  "nodes": [
    {
      "id": "1",
      "name": "Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      }
    },
    {
      "id": "2",
      "name": "Cleanup API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEADFLOW_BASE_URL }}/api/cleanup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.INTERNAL_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "3",
      "name": "Log resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('[LeadFlow Cleanup]', JSON.stringify(result));\nreturn [{json: result}];"
      }
    }
  ],
  "connections": {
    "Cada Hora": {
      "main": [[{ "node": "Cleanup API", "type": "main", "index": 0 }]]
    },
    "Cleanup API": {
      "main": [[{ "node": "Log resultado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["leadflow", "cleanup", "automatico"]
}
