n8n-workflows/pipeline-trigger.json
{
  "name": "LeadFlow — Pipeline Webhook Trigger",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {
        "path": "leadflow-pipeline",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "leadflow-pipeline"
    },
    {
      "id": "2",
      "name": "Validar parametros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst { sector, city, country, limit = 5 } = body;\n\nif (!sector || !city || !country) {\n  throw new Error('Faltan parámetros: sector, city, country');\n}\n\nconst sectoresValidos = ['fontanero','electricista','peluqueria','dentista','restaurante','gimnasio','taller'];\nconst paisesValidos = ['ES','AR','UY'];\n\nif (!sectoresValidos.includes(sector)) throw new Error(`Sector inválido: ${sector}`);\nif (!paisesValidos.includes(country)) throw new Error(`País inválido: ${country}`);\nif (limit < 1 || limit > 50) throw new Error('Limit debe ser 1-50');\n\nreturn [{ json: { sector, city, country, limit: parseInt(limit) } }];"
      }
    },
    {
      "id": "3",
      "name": "Llamar API Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEADFLOW_BASE_URL }}/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.INTERNAL_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "sector", "value": "={{ $json.sector }}" },
            { "name": "city", "value": "={{ $json.city }}" },
            { "name": "country", "value": "={{ $json.country }}" },
            { "name": "limit", "value": "={{ $json.limit }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "Responder webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validar parametros", "type": "main", "index": 0 }]]
    },
    "Validar parametros": {
      "main": [[{ "node": "Llamar API Generate", "type": "main", "index": 0 }]]
    },
    "Llamar API Generate": {
      "main": [[{ "node": "Responder webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["leadflow", "pipeline", "webhook"]
}
